<!-- Cabeçalho topo -->
<div class="container" style=" max-width: 100%;">

  <div class="container-header">
    <div class="header">
        <div id="logo">
            <img src="../assets/img/logo.png" alt="">
        </div>
        <div class="botao">
            <a href="#"><img src="../assets/img/botao1.png" alt="" id="botao"></a>
            <a href="#"><img src="../assets/img/botao2.png" alt="" id="botao2"></a>
        </div>
    </div>

    <div class="titulo">
        <img src="../assets/img/titulo-topo.png" alt="" id="titulo">
    </div>

  </div>

  <!-- Informação personagems -->

  <div class="info-perso">
    <div class="infoPersoIMG">
      <img src="../assets/img/info-perso.png" alt="" >
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-top: -140px; width: 100vw;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/kamisato.png" class="d-block w-100" alt="...">

          <div id="textoKamisato">
            <div>
              <img src="../assets/img/Kamisato_nome.png" alt="">
            </div>

            <br>

            <div class="texto" style="margin-left: -35px;">
              <p>Filha do Clã Kamisato da Comissão Yashiro. Solene e elegante, e também sábia e forte</p>
            </div>

            <br><br>

            <div id="videovideo">
                <a href="https://www.youtube.com/embed/5RCsr1Y8UZA" target="_blank"><img src="../assets/img/video.png" alt="" style="width: 358px;
                  height: 210px;"></a>
            </div>

            <br><br><br>

            <a href="#">Ver mais ></a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/yoimiya.png" class="d-block w-100" alt="...">

          <div id="textoKamisato">
            <div>
              <img src="../assets/img/yoimiya_nome.png" alt="">
            </div>

            <br>

            <div class="texto">
              <p>Dona do Fogos de Artifícios Nagonohara.
                Conhecida como "Rainha do festival de Verão",
                ela é excelente na criação de fogos de artíficio que simbolizam a esperança e sonhos das pessoas
              </p>
            </div>

            <br>

            <a href="#">Ver mais ></a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/sayu.png" class="d-block w-100" alt="...">

          <div id="textoKamisato">
            <div>
              <img src="../assets/img/sayu_nome.png" alt="">
            </div>

            <br>

            <div class="texto">
              <p>Uma Ninja pertencente ao Shuumatsuban que parece sempre estar cansada.</p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-next-icon" id="esquerda" aria-hidden="true"><img src="../assets/img/setadire.png" alt=""></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"><img src="../assets/img/setadire.png" alt=""></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

        <!-- <div class="yoimiya">

        </div>

        <div class="sayu">

        </div> -->

  </div>

  <!--Informação Area  -->

  <div class="infoPersoIMG">
    <img src="../assets/img/info-area.png" alt="">
  </div>

  <div class="info-area">
  </div>

  <!-- Informação da versão com carrocel -->

  <div class="infoPersoIMG">
    <div class="info-versao"></div>
  </div>

  <div class="infoPersoIMG">
    <img src="../assets/img/info-versao.png" alt="">
  </div>

  <div class="cacocel-card">
  <owl-carousel-o [options]="customOptions" style="height: 2000px">

    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card1.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card2.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card3.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card4.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card5.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card6.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card7.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card8.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card9.png" alt=""></ng-template>

  </owl-carousel-o>
</div>


<div class="infoPersoIMG">
  <img style="margin-top: 55px;" src="../assets/img/caracteristicas.png" alt="">
</div>

  <div class="container" style="margin-bottom: 400px;">


    <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel" style="margin-top: 20px; margin-left: -80px;">
      <div class="carousel-inner container">
        <div class="carousel-item active" >
          <img src="../assets/img/ca1.jpg" class="d-block w-100" alt="..." style="width: 100%;" >
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca5.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="margin-left: 100px;">
        <span class="carousel-control-prev" aria-hidden="true" id="esquerda" ><img src="../assets/img/setaDireita.png" alt=""></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span aria-hidden="true"><img src="../assets/img/setaDireita.png" alt=""></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <div class="redes-sociais row container-fluid">

    <div class="col-md" style="display: flex; justify-content: center;">
      <a href="">
        <img src="../assets/img/face.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/twitter.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/youtube.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/insta.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/dicord.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/ete.png" alt="">
    </a>
    </div>

    <div class="col-md">
      <a href="">
        <img src="../assets/img/coelho.png" alt="">
    </a>
    </div>

  </div>

</div>

<div class="rodape">


    <div class="container">
      <div id="idioma">
        <div>
          <img src="../assets/img/globo.png" alt="" style="margin-right: 10px;">
          <a href="#">Portugues</a>
        </div>
      </div>
    <footer class="row row-cols-5 py-5  border-top">

      <div class="col-6" style="display: flex; align-items: center; justify-content: center;">
        <div>
          <img src="../assets/img/mihoyo_1586770772_9709.png" alt=""  style="border-right: 1px solid white;padding-right: 40px; margin-left: 100px;">
        </div>
        <div id="logo-rodapé">
          <img src="../assets/img/logo.png" alt=""  style="width: 230px; height: auto;">
        </div>
      </div>

      <div class="col-6">
        <div class="links-rodape">
          <div id="a-rodape">
            <a href="">Políticas de Privacidade</a>
          </div>
          <div id="a-rodape">
            <a href="">Termos de Serviço</a>
          </div>
          <div id="a-rodape">
            <a href="">Sobre Nós </a>
          </div>
          <div id="a-rodape">
            <a href="">Contate-nos</a>
          </div>
        </div>
        <p id="copy">Copyright © 2020 miHoYo All Rights Reserved</p>

        <div id="rodape-play">
          <p>
            "PlayStation Family Mark," "PS5 logo" and "PS4 logo" are registered trademarks or trademarks of Sony Interactive Entertainment Inc.
          </p>
        </div>

        <div style="color: #999999;
        font-size: 16px;">
          Epic, Epic Games, Epic Games Store, the Epic Games Store logo, and Epic Online Services are trademarks and/or registered trademarks of Epic Games. All other trademarks are the property of their respective owners.
        </div>
      </div>

    </footer>
  </div>
</div>








