<!-- Cabeçalho topo -->
<div class="container" style=" max-width: 99%;">

  <div class="container-header">
    <div class="header">
        <div id="logo">
            <img src="../assets/img/logo.png" alt="">
        </div>
        <div class="botao">
            <a href="#"><img src="../assets/img/botao1.png" alt="" id="botao"></a>
            <a href="#"><img src="../assets/img/botao2.png" alt="" id="botao2"></a>
        </div>
    </div>

    <div class="titulo">
        <img src="../assets/img/titulo-topo.png" alt="" id="titulo">
    </div>

  </div>

  <!-- Informação personagems -->

  <div class="info-perso">
    <div class="infoPersoIMG">
      <img src="../assets/img/info-perso.png" alt="" >
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/kamisato.png" class="d-block w-100" alt="...">

          <div id="textoKamisato">
            <div>
              <img src="../assets/img/Kamisato_nome.png" alt="">
            </div>

            <br>

            <div class="texto">
              <p>Filha do Clã Kamisato da Comissão Yashiro. Solene e elegante, e também sábia e forte</p>
            </div>

            <br><br>

            <div id="videovideo">
                <a href="https://www.youtube.com/embed/5RCsr1Y8UZA" target="_blank"><img src="../assets/img/video.png" alt=""></a>
            </div>

            <br><br><br>

          <a href="#">Ver mais ></a>
        </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/yoimiya.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/sayu.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-next-icon" id="esquerda" aria-hidden="true"><img src="../assets/img/setadire.png" alt=""></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"><img src="../assets/img/setadire.png" alt=""></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

        <!-- <div class="yoimiya">

        </div>

        <div class="sayu">

        </div> -->

  </div>

  <!--Informação Area  -->

  <div class="infoPersoIMG">
    <img src="../assets/img/info-area.png" alt="">
  </div>

  <div class="info-area">
  </div>

  <!-- Informação da versão com carrocel -->

  <div class="infoPersoIMG">
    <div class="info-versao"></div>
  </div>

  <div class="infoPersoIMG">
    <img src="../assets/img/info-versao.png" alt="">
  </div>

  <div class="cacocel-card">
  <owl-carousel-o [options]="customOptions" style="height: 2000px">

    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card1.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card2.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card3.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card4.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card5.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card6.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card7.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card8.png" alt=""></ng-template>
    <ng-template carouselSlide class="item"><img class="card" src="../assets/img/card9.png" alt=""></ng-template>

  </owl-carousel-o>
</div>


<div class="infoPersoIMG">
  <img style="margin-top: 55px;" src="../assets/img/caracteristicas.png" alt="">
</div>

  <div class="container" style="margin-bottom: 400px;">


    <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel" style="margin-top: 20px; margin-left: -80px;">
      <div class="carousel-inner container">
        <div class="carousel-item active" >
          <img src="../assets/img/ca1.jpg" class="d-block w-100" alt="..." style="width: 100%;" >
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/ca5.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev" style="margin-left: 100px;">
        <span class="carousel-control-prev" aria-hidden="true" id="esquerda" ><img src="../assets/img/setaDireita.png" alt=""></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span aria-hidden="true"><img src="../assets/img/setaDireita.png" alt=""></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>

  <div class="redes-sociais row container-fluid">

    <div class="col-md" style="display: flex; justify-content: center;">
      <a href="">
        <img src="../assets/img/face.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/twitter.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/youtube.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/insta.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/dicord.png" alt="">
    </a>
    </div>
    <div class="col-md">
      <a href="">
        <img src="../assets/img/ete.png" alt="">
    </a>
    </div>

    <div class="col-md">
      <a href="">
        <img src="../assets/img/coelho.png" alt="">
    </a>
    </div>

  </div>

</div>

<div class="rodape">
  <br>
  <div class="b-example-divider"></div>
    <div class="container">
    <footer class="row row-cols-5 py-5 my-5 border-top">
      <div class="col">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <p class="text-muted">&copy; 2021</p>
      </div>

      <div class="col">

      </div>

      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>









